﻿@{
    ViewBag.Title = "Careers";
}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <h2 class="breadcrumb-title">Careers</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Careers</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!--======== careers-experts Start ==========-->
        <div class="careers-experts-wrapper section-space--pt_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h3 class="heading">Become a part of our big family to inspire and get inspired by <span class="text-color-primary"> professional experts.</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="ht-simple-job-listing move-up animate">
                            <div clas="list">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="job-info">
                                                <h5 class="job-name">IT Operations Specialist</h5>
                                                <span class="job-time">Full time</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="job-description">We are currently seeking a highly motivated individual to fill an I.T. This position will provide remote and onsite hands-on support to staff, vendors, and customers as well as, proactively identify issues.</div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="job-button text-md-center">
                                                <a class="ht-btn ht-btn-md ht-btn--solid" href="#">
                                                    <span class="button-text">Get started </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="job-info">
                                                <h5 class="job-name">IT Desktop Support </h5>
                                                <span class="job-time">Full time</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="job-description">The Mitech IT team believes in full transparency, being flexible, reliable and being great team players. We are problem solvers, always ready to help and support each other and the organization. </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="job-button text-md-center">
                                                <a class="ht-btn ht-btn-md ht-btn--solid" href="#">
                                                    <span class="button-text">Get started </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="job-info">
                                                <h4 class="job-name">IT Summer Intern</h4>
                                                <span class="job-time">Full time</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="job-description">Mitech is looking for a summer intern to work in the Information &amp; Technology Services area. This position is part of a team which supports Microsoft Server Operating Systems, storage systems, and Client device technologies.</div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="job-button text-md-center">
                                                <a class="ht-btn ht-btn-md ht-btn--solid" href="#">
                                                    <span class="button-text">Get started </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="job-info">
                                                <h4 class="job-name">Software Engineer</h4>
                                                <span class="job-time">Full time</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="job-description">In partnership with others on the team, you will create enhancements and/or new services and solutions based data acquisition and analytics. You will analyze, design, program, debug and modify software interface for our system.</div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="job-button text-md-center">
                                                <a class="ht-btn ht-btn-md ht-btn--solid" href="#">
                                                    <span class="button-text">Get started </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--======== careers-experts End ==========-->

        <div class="gallery-section section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center">
                            <h3 class="section-title mb-15 wow move-up">Pay a visit & have some coffee!</h3>
                            <div class="contact-button section-space--mt_30 wow move-up">
                                <a href="#" class="hover-style-link">View all team <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery-wrapper Start -->
                <div class="gallery-wrapper section-space--pt_80 ">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- gallery-warp Start -->
                            <div class="gallery-warp popup-images ">
                                <!-- single gallery Start -->
                                <a class="single-gallery gallery-grid wow move-up" href="../Content/assets/images/gallery/blog-07-960x960.webp">
                                    <div class="single-gallery__item">
                                        <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/gallery/ITOperationsSpecialist.jpg">

                                        </div>
                                        <div class="ht-overlay"></div>
                                        <div class="overlay-icon">
                                            <i class="far fa-search"></i>
                                        </div>
                                    </div>
                                </a>
                                <!-- single gallery End -->
                                <!-- single gallery Start -->
                                <a class="single-gallery gallery-grid wow move-up" href="assets/images/gallery/careers-gallery-image-01-960x960.webp">
                                    <div class="single-gallery__item">
                                        <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/gallery/itdts.jpg"></div>
                                        <div class="ht-overlay"></div>
                                        <div class="overlay-icon">
                                            <i class="far fa-search"></i>
                                        </div>
                                    </div>
                                </a>
                                <!-- single gallery End -->
                                <!-- single gallery Start -->
                                <a class="single-gallery gallery-grid wow move-up" href="assets/images/gallery/blog-08-960x960.webp">
                                    <div class="single-gallery__item">
                                        <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/gallery/intern.jpg"></div>
                                        <div class="ht-overlay"></div>
                                        <div class="overlay-icon">
                                            <i class="far fa-search"></i>
                                        </div>
                                    </div>
                                </a>
                                <!-- single gallery End -->
                                <!-- single gallery Start -->
                                <a class="single-gallery gallery-grid wow move-up" href="../Content/assets/images/gallery/blog-06-960x960.webp">
                                    <div class="single-gallery__item">
                                        <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/gallery/se.png"></div>
                                        <div class="ht-overlay"></div>
                                        <div class="overlay-icon">
                                            <i class="far fa-search"></i>
                                        </div>
                                    </div>
                                </a>
                                <!-- single gallery End -->

                            </div>
                            <!-- gallery-warp End -->
                        </div>
                    </div>
                </div>
                <!-- gallery-wrapper End -->

            </div>
        </div>

        <!--====================  Conact us Section Start ====================-->
        <div class="contact-us-section-wrappaer infotechno-contact-us-bg section-space--ptb_120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-lg-6">
                        <div class="conact-us-wrap-one">
                            <h3 class="heading">Obtaining further information by <span class="text-color-primary">make a contact</span> with our experienced IT staffs. </h3>

                            <div class="sub-heading">We’re available for 8 hours a day!<br>Contact to require a detailed analysis and assessment of your plan.</div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6">
                        <div class="contact-info-one text-center">
                            <div class="icon">
                                <span class="fal fa-phone"></span>
                            </div>
                            <h6 class="heading font-weight--reguler">Reach out now!</h6>
                            <h2 class="call-us"><a href="tel:190068668">1900 68668</a></h2>
                            <div class="contact-us-button mt-20">
                                <a href="#" class="btn btn--secondary">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Conact us Section End  ====================-->

    </div>
