﻿@{
    ViewBag.Title = "Home";
}



<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!--============ Infotechno Hero Start ============-->
        <div class="processing-hero processing-hero-bg">
            <div class="container">
                <div class="row align-items-center">
                    <!--baseline-->
                    <div class="col-lg-8 col-md-7">
                        <div class="processing-hero-text wow move-up">
                            <h1 class="font-weight--reguler mb-15">The Leading <span class="text-color-secondary">Nearshore Solutions Company</span></h1>
                            <div class="hero-button mt-30">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="processing-hero-images-wrap wow move-up">
                            <div class="processing-hero-images">
                                <img class="img-fluid" style="width:250px !important;" src="~/Content/assets/images/banners/vector.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============ Infotechno Hero End ============-->
        <!--====================  Accordion area ====================-->
        <div class="accordion-wrapper section-space--ptb_100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-wrapper faq-custom-col">

                            <div class="section-title section-space--mb_40">
                                <h3 class="heading">
                                    The Leading
                                    <span class="text-color-primary">
                                        Nearshore Solutions
                                    </span> Company
                                </h3>

                            </div>

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                How can we help your business? <span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <i class="fas fa-chevron-up"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <p>We are a pioneering Nearshore Solutions Company, working in this industry for over 15 years. We engineer and architect high-performing and scalable software and digital solutions to meet the different challenges of our customers. With our cross-industry and tech expertise, we can turn digital transformations into digital accelerations. We intend to create ever-lasting values all through the whole digital transformation journey. <p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                What are the advantages of Daintree?<span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <i class="fas fa-chevron-up"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <p>Though we are experts with a great reputation and a proven record for assisting companies do their business smarter, faster, and better than before, we don’t forget that we are highly fortunate to have all our clients. From start-ups to the global giants, we are really lucky to work together with a few bravest brands around the world. We have helped them to create efficient, custom, and quick solutions that solve real-world problems. Whatever you require, we are inviting you to flourish with us and let us integrate technologies with endless possibilities.  </p>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    How working process is simplified? <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>We reduce redundant complex calculations and lengthy erroneous code texts with simpler ones to ensure Mitech would run seamlessly and the design is reserved in its best form when viewed from a wide range of mobile devices & browsers. </p>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="rv-video-section">

                            <div class="ht-banner-01 ">
                                <img class="img-fluid border-radus-5 animation_images one wow fadeInDown" src="~/Images/1(2).jpeg" alt="">
                            </div>

                            <div class="ht-banner-02">
                                <img class="img-fluid border-radus-5 animation_images two wow fadeInDown" src="~/Images/2(1).jpeg" alt="">
                            </div>

                            <div class="main-video-box video-popup">
                                <img class="img-fluid border-radus-5 animation_images two wow fadeInDown" src="~/Images/3(1).jpeg" alt="">
                            </div>

                            <div class="ht-banner-03">
                                <img class="img-fluid border-radus-5 animation_images three wow fadeInDown" src="~/Images/1(2).jpeg" alt="">
                            </div>

                            <div class="ht-banner-04">
                                <img class="img-fluid border-radus-5 animation_images four wow fadeInDown" src="~/Images/1(2).jpeg" alt="">
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!--====================  Accordion area  ====================-->
        <!--===========  feature-images-wrapper  Start =============-->
        <!--<div class="feature-images-wrapper bg-gray section-space--ptb_100">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">-->
        <!-- section-title-wrap Start -->
        <!--<div class="section-title-wrap text-center section-space--mb_10">
            <h6 class="section-sub-title mb-20">Our services</h6>
            <h3 class="heading">For your very specific industry, <br> we have <span class="text-color-primary"> highly-tailored IT solutions.</span></h3>
        </div>-->
        <!-- section-title-wrap Start -->
        <!--</div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="feature-images__two small-mt__10">
                    <div class="modern-grid-image-box row row--30">

                        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60  small-mt__40">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-01-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">Backup and recovedry </h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-02-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">Cloud Managed Services</h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-03-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">IT Security & Compliance</h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-04-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">Software Development</h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-05-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">Managed IT Services</h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

        <div class="single-item wow move-up col-lg-4 col-md-6 section-space--mt_60">-->
        <!-- ht-box-icon Start -->
        <!--<a href="#" class="ht-box-images style-02">
            <div class="image-box-wrap">
                <div class="box-image">
                    <img class="img-fulid" src="~/Content/assets/images/icons/mitech-processing-service-image-06-80x83.webp" alt="">
                </div>
                <div class="content">
                    <h6 class="heading">IT consultancy</h6>
                </div>
            </div>
        </a>-->
        <!-- ht-box-icon End -->
        <!--</div>

                            </div>
                        </div>

                        <div class="section-under-heading text-center section-space--mt_60">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div>

                    </div>
                </div>
            </div>
        </div>-->
        <!--===========  feature-images-wrapper  End =============-->
        <!--=========== fun fact Wrapper Start ==========-->
        @*<div class="fun-fact-wrapper section-space--ptb_100">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-4 offset-lg-1">
                            <div class="modern-number-01 me-5">
                                <h2 class="heading"><span class="mark-text">15</span>Years’ Experience in IT</h2>
                                <h3 class="heading">Learn more about our <span class="text-color-primary">Success Stories</span></h3>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">1790</div>
                                        <h6 class="fun-fact__text">Account numbers</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">32</div>
                                        <h6 class="fun-fact__text">Finished projects</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">73</div>
                                        <h6 class="fun-fact__text">Happy clients</h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 wow move-up">
                                    <div class="fun-fact--three text-center">
                                        <div class="fun-fact__count counter">318</div>
                                        <h6 class="fun-fact__text">Blog posts</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>*@
        <!--=========== fun fact Wrapper End ==========-->
        <!--=========== Computing Start ===============-->
        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-icon-wrapper section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_20">
                            <h3 class="heading">
                                Future-Poof Your Business!
                                Transform Your Company!
                                With Our Digital Acceleration Specialists!
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-list__three">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-sitemap"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Architecting Your Solution
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">We have solution architects who can zero in on strategic, operational, and technological challenges via a thorough understanding of any business. Hen, we design strategic roadmaps to direct your results-oriented digital transformation.                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-eye"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Engineering Your Visions
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We assemble your nearshore dream team that can meet your exclusive goals and needs. With our deep technological expertise and industry experience, we can deliver the most sophisticated solutions for your challenges.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-6">
                                        <div class="grid-item animate">
                                            <div class="ht-box-icon style-03">
                                                <div class="icon-box-wrap">
                                                    <div class="content-header">
                                                        <div class="icon">
                                                            <i class="fal fa-lock-alt"></i>
                                                        </div>
                                                        <h5 class="heading">
                                                            Accelerating your Business
                                                        </h5>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">
                                                            Backed by our team of experts, your digital transformations will gain momentum quickly and turn into a quick, digital acceleration. The process puts the base for a resilient and efficient business to meet demands at different scales.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->
        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-icon-wrapper section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_20">
                            <h3 class="heading">
                                Collaborating to Find Perfect Solutions for All Challenges
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-list__three">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-user-friends"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Customer-Centric Solutions
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">Our experts don’t believe in fitting any technology to address any problem, we mainly believe in finding digital solutions for you, regardless of the technology it takes.                                                         </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-server"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Technology Agnostic
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We not only focus on technologies, but we focus on the solutions no matter what technology it takes!

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-brain"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Our Thinking
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        The key to whatever we do is collaboration and sharing our thinking is the key to collaboration.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-bullseye"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Shared Success
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We can work with companies globally, offering customized solutions for customized challenges.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->
        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-icon-wrapper section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_20">
                            <h3 class="heading">
                                Our Values
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-list__three">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Efficiency
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">We access our processes and systems continuously to get the things done always in the best ways for our business and our clients.                                                          </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Diversity
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Talent doesn’t discriminate. We are dedicated to hiring outstanding IT experts from every walk of life.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fas fa-users"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Collaboration and Teamwork
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We use our collective intelligence by empowering the most talented individuals to make decisions on our team.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Transparency
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        By remaining clear regarding our motivations and goals, we create trust with our teams and clients, which is the foundation of excellent teamwork.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Passion
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Our passion induces enthusiasm in all the aspects of our businesses as we love whatever we do.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    @*<div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>*@
                                                    <h5 class="heading">
                                                        Client Value Creation
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Our company focuses on the business drivers of our clients to deliver the best value possible and also exceed their expectation.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->
        <!--=========== fun fact Wrapper Start ==========-->
        <div class="fun-fact-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 offset-lg-1">
                        <div class="modern-number-01 me-5">
                            <h2 class="heading"><span class="mark-text">15</span>Years’ Experience in IT</h2>
                            <h3 class="heading">Learn more about our <span class="text-color-primary">Success Stories</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-8">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 wow move-up">
                                <div class="fun-fact--three text-center">
                                    <div class="fun-fact__count counter">1790</div>
                                    <h6 class="fun-fact__text">Account numbers</h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 wow move-up">
                                <div class="fun-fact--three text-center">
                                    <div class="fun-fact__count counter">32</div>
                                    <h6 class="fun-fact__text">Finished projects</h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 wow move-up">
                                <div class="fun-fact--three text-center">
                                    <div class="fun-fact__count counter">73</div>
                                    <h6 class="fun-fact__text">Happy clients</h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 wow move-up">
                                <div class="fun-fact--three text-center">
                                    <div class="fun-fact__count counter">318</div>
                                    <h6 class="fun-fact__text">Blog posts</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--=========== fun fact Wrapper End ==========-->
        <!--===========  feature-images-wrapper  Start =============-->
        <div class="feature-icon-wrapper section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_20">
                            <h3 class="heading">Why US?  </h3><br><br>
                            <p style="text-align: justify;">We are a prominent nearshore IT services provider. We deliver solutions that speed up the productivity of our clients and help them attain their objectives promptly without any hassles. Unlike other tech organizations and companies, we do not only promise excellence, we take efficient measures to guarantee the best results. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-list__three">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-user-tie"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Skilled Professionals
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">We offer talent-driven solutions. Our refined set of designers and developers hold great expertise in effective project management.                                                          </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-briefcase"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Ensure Customer Satisfaction
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Not only do we understand your business needs, we also ascertain a result-driven approach. Our company adheres to quality, security, and innovation to build client value.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-dollar-sign"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Value For Time and Cost
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        With our highly flexible business models, you can get the benefits of cost-efficiency. With simple hiring and onboarding, rest assured to get timely services.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="far fa-building"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Nurturing SMBs and Startups
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We offer consultancy service to accelerate and nurse the development of companies. Our services include MVPs to first test a product before investing.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-unlock"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Flexible and Reliable
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Our developers and designers affirm transparency and integrity. All of them are flexible to role-specific needs. Moreover, our highly passionate developers can do collective brainstorming.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fas fa-user-shield"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Experienced in Catering To Different Sectors
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        Whether it is education, healthcare, finance, travel, hospitality, or any other sector, we intend to optimize the business of our clients with the best digital solutions.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br><br>
                                <h3 class="heading">Together For a Better Tomorrow </h3><br><br><br>
                                <p style="text-align: justify;">We work with companies globally to craft exclusive IT solutions, integrate the changing systems of businesses, and offer leading-edge technical consultation. We are humbled that most large businesses outsource their business requirements to our company, including the leaders in travel, retails, education, eCommerce, logistics, finance services, lifestyle, hospitality, and more. </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-images-wrapper  End =============-->



        <div class="processing-computing-area bg-gray-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="computing-info-box text-center">
                            <h2>IT Security & Computing</h2>
                            <div class="section-under-heading text-center mt-30">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=========== Computing End ===============-->
        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h6 class="section-sub-title mb-20">Optimal Technology Solutions</h6>
                            <h3 class="heading">Preparing for your success, <br> we provide <span class="text-color-primary">truly prominent IT solutions.</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row small-mt__30">

                            <div class="col-lg-3 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/id.jpg"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">IT Design</h5>
                                            <div class="box-more-info">
                                                <div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-6 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/bx1.jpg"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">IT Management</h5>
                                            <div class="box-more-info">
                                                <div class="text">It’s possible to simultaneously manage and transform key information from one server to another.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-3 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/ds.jpg"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">Data Security</h5>
                                            <div class="box-more-info">
                                                <div class="text">Back up your database, store in a safe and secure place while still maintaining its accessibility.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/br.png"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">Business Reform</h5>
                                            <div class="box-more-info">
                                                <div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/ip.jpg"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">Infrastructure Plan</h5>
                                            <div class="box-more-info">
                                                <div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__two">
                                    <div class="box-large-image__two__box">
                                        <div class="box-large-image__midea">
                                            <div class="single-gallery__thum bg-item-images bg-img" data-bg="../Content/assets/images/box-image/fa.jpg"></div>
                                        </div>

                                        <div class="box-info">
                                            <h5 class="heading">Firewall Advancement</h5>
                                            <div class="box-more-info">
                                                <div class="text">We provide the most responsive and functional IT design for companies and businesses worldwide.</div>
                                                <div class="btn">
                                                    <i class="button-icon far fa-long-arrow-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="feature-list-button-box mt-40 text-center">
                                <a href="#" class="ht-btn ht-btn-md">Learn more</a>
                                <a href="#" class="ht-btn ht-btn-md ht-btn--outline">Contact us</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-large-images-wrapper  End =============-->
        <!--====================  testimonial section ====================-->
        <div class="testimonial-slider-area bg-gray section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">Testimonials</h6>
                            <h3 class="heading">What do people praise about <span class="text-color-primary"> Daintree?</span></h3>
                        </div>
                        <div class="testimonial-slider">
                            <div class="swiper-container testimonial-slider__container">
                                <div class="swiper-wrapper testimonial-slider__wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__one wow move-up">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <img src="~/Content/assets/images/testimonial/mitech-testimonial-avata-02-90x90.webp" class="img-fluid" alt="">
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Denial Ferguson</h6>
                                                        <span class="designation">Mobile App Development</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @@Daintree is one of the most impressive to me.</div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__one wow move-up">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <img src="~/Content/assets/images/testimonial/mitech-testimonial-avata-03-90x90.webp" class="img-fluid" alt="">
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Monica Blews</h6>
                                                        <span class="designation">Custom Software Developer</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">
                                                I have worked with them for Firebase + Android/iOS Native App Development,
                                                I really appreciate their planning and execution, as I have really tight deadline and they achieved it very well.
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__one wow move-up">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <img src="~/Content/assets/images/testimonial/mitech-testimonial-avata-04-90x90.webp" class="img-fluid" alt="">
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Abbie Ferguson</h6>
                                                        <span class="designation">Automation Software Tool</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">
                                                "I had hired them for my Bins business automation and IoT process, I want automation system which can automatically send me notification
                                                when that bins has been filled by waste."
                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="swiper-pagination swiper-pagination-t01 section-space--mt_30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of testimonial section  ====================-->
        <!--====================  brand logo slider area ====================-->
        <div class="brand-logo-slider-area section-space--ptb_60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- brand logo slider -->
                        <div class="brand-logo-slider__container-area">
                            <div class="swiper-container brand-logo-slider__container">
                                <div class="swiper-wrapper brand-logo-slider__one">
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-01.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-01-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-02.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-02-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-03.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-03-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-04.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-04-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-05.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-05-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-06.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-06-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-07.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-07-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-08.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-08-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-09.webp" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="~/Content/assets/images/brand/mitech-client-logo-09-hover.webp" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of brand logo slider area  ====================-->
        <!--====================  Conact us Section Start ====================-->
        <div class="contact-us-section-wrappaer processing-contact-us-bg section-space--ptb_120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-lg-6">
                        <div class="conact-us-wrap-one">
                            <h3 class="heading text-white">Obtaining further information by make a contact with our experienced IT staffs. </h3>

                            <div class="sub-heading text-white">We’re available for 8 hours a day!<br>Contact to require a detailed analysis and assessment of your plan.</div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6">
                        <div class="contact-info-two text-center">
                            <div class="icon">
                                <span class="fal fa-phone"></span>
                            </div>
                            <h6 class="heading font-weight--reguler">Reach out now!</h6>
                            <h2 class="call-us">
                                <a href="tel:+1346278250">
                                    +1 346 278 2500
                                </a>
                            </h2>
                            <div class="contact-us-button mt-20">
                                <a href="#" class="btn btn--secondary">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Conact us Section End  ====================-->
    </div>
