﻿@{
    ViewBag.Title = "Contact Us";
}

<style>
    .error {
        color: red;
    }
        .error > input {
            border: red;
        }
</style>

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <h2 class="breadcrumb-title">Contact us</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Contact us </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!--====================  Conact us Section Start ====================-->
        <div class="contact-us-section-wrappaer section-space--pt_100 section-space--pb_70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-lg-6">
                        <div class="conact-us-wrap-one mb-30">
                            <h3 class="heading">To make requests for <br>further information, <br><span class="text-color-primary">contact us</span> via our social channels. </h3>
                            <div class="sub-heading">We just need a couple of hours! <br> No more than 2 working days since receiving your issue ticket.</div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-6">
                        <div class="contact-form-wrap">

                            <!-- <form id="contact-form" action="http://whizthemes.com/mail-php/jowel/mitech/php/mail.php" method="post"> -->
                            <form id="contactForm" name="contactForm">
                                <div class="contact-form">
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input name="con_name" type="text" id="con_name" placeholder="Name *">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="con_email" type="email" id="con_email" placeholder="Email *">
                                        </div>
                                    </div>
                                    <div class="contact-inner">
                                        <input name="con_subject" type="text" id="con_subject" placeholder="Subject *">
                                    </div>
                                    <div class="contact-inner contact-message">
                                        <textarea name="con_message" id="con_message" placeholder="Please describe what you need."></textarea>
                                    </div>
                                    <div class="submit-btn mt-20">
                                        <button class="ht-btn ht-btn-md" type="submit" name="submit" id="send_button">Send message</button>
                                        <button class="ht-btn ht-btn-md" type="button" name="button" id="sending_button" disabled style="display:none;">
                                            <span>
                                                <i class="info-icon fa fa-spinner fa-spin"></i>
                                            </span>
                                            Sending
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Conact us Section End  ====================-->
        <!--====================  Conact us info Start ====================-->
        <div class="contact-us-info-wrappaer section-space--pb_100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="conact-info-wrap mt-30">
                            <h5 class="heading mb-20">USA Address</h5>
                            <ul class="conact-info__list">
                                <li>
                                    10101 Southwest Freeway
                                    Suite 400
                                    Houston, TX 77074
                                </li>
                                <li>
                                    <a href="#" class="hover-style-link text-color-primary">
                                        info@daintreesolutions.us
                                    </a>
                                </li>
                                <li><a href="#" class="hover-style-link text-black font-weight--bold"> +1 346 278 2500</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="conact-info-wrap mt-30">
                            <h5 class="heading mb-20">Development Center</h5>
                            <ul class="conact-info__list">
                                <li>
                                    C/704, Sarita Residency - 2, Nr. Matru Village,<br>
                                    Opp. Umiya Residency, New Nikol, Ahmedabad-382350, India
                                </li>
                                <li><a href="#" class="hover-style-link text-color-primary">info@daintreesolutions.us</a></li>
                                <li><a href="#" class="hover-style-link text-black font-weight--bold">+91 999 888 3460</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="conact-info-wrap mt-30">
                            <h5 class="heading mb-20">Schedule Meeting?  </h5>
                            <ul class="conact-info__list">
                                <li> Not clear with your development model, lets connect via call, please drop an email</li>
                                <li><a href="#" class="hover-style-link text-color-primary">info@daintreesolutions.us</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--====================  Conact us info End  ====================-->
        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_two">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading">We run all kinds of IT services that vow your <span class="text-color-primary"> success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--two text-center">
                            <a href="#" class="btn btn--white btn-one"><span class="btn-icon me-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="#" class="btn btn--secondary btn-two "><span class="btn-icon me-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script>

        //Contact us form jquery validation
            $("#contactForm").validate({
                rules: {
                    con_name: {
                        required: true
                    },
                    con_email: {
                        required: true
                    },
                    con_subject: {
                        required: true
                    },
                    con_message: {
                        required: true
                    },
                },
                messages: {
                    con_name: "Name is required",
                    con_email: "Email is required",
                    con_subject: "Subject is required",
                    con_message: "Message is required",
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    ContactUs();
                }

            });

        //ContactUs form data ajax call
        function ContactUs() {

            $('#send_button').hide();
            $('#sending_button').show();

           $.ajax({
            type: 'POST',
            url: "@Url.Action("ContactUsSend", "ContactUs")",
            dataType: 'json',
            data: ({
                Con_Name: $("#con_name").val(),
                Con_Email: $("#con_email").val(),
                Con_Subject: $("#con_subject").val(),
                Con_Message: $("#con_message").val(),
            }),
            success: function (response) {
                debugger;
                if (response == 200) {
                    alert('Request Submitted Succssfully');
                    window.location.reload();
                } else {
                    alert('Data Not Inserted');
                }
                $('#send_button').show();
                $('#sending_button').hide();
            },
            error: function (response) {
                console.log(response);
                $('#send_button').show();
                $('#sending_button').hide();
            }
        });
        }

    </script>