﻿@{
    ViewBag.Title = "Quote";
}

<style>
    .error {
        color: red;
    }
    .contact-inner-3{
        width:33% !important;
    }
    .custome-card {
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 0 20px 0px rgb(51 51 51 / 6%);
    }

        .custome-card p {
            line-height: 1.5;
        }

        .custome-card a {
            color: #086ad8;
        }

        .custome-card .heading {
            color: #000;
        }
    @@media only screen and (max-width: 575px) {
        .contact-inner-3 {
            width: 100% !important;
        }
    }
</style>

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <h2 class="breadcrumb-title">Quote</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Quote</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!--====================  Conact us Section Start ====================-->
        <div class="contact-us-section-wrappaer section-space--pt_100 section-space--pb_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-12">
                        <div class="conact-us-wrap-one mb-30">
                            <h3 class="heading">
                                Have a <span class="text-color-primary">Project</span> in Mind?
                            </h3>
                            <div class="sub-heading">
                                Let's do this Fill in our short form. It will only take a minute
                                You can also attach your requirement/SRS document and we will get back to you with detail proposal with in 24 Hrs.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-8">
                        <div class="contact-form-wrap">

                            <!-- <form id="contact-form" action="http://whizthemes.com/mail-php/jowel/mitech/php/mail.php" method="post"> -->
                            <form id="QuoteForm" name="QuoteForm">
                                <div class="contact-form">
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input name="quote_fullname" type="text" id="quote_fullname" placeholder="Full name *">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="quote_Email" type="email" id="quote_Email" placeholder="Email address *">
                                        </div>
                                    </div>
                                    <div class="contact-input">
                                        <div class="contact-inner contact-inner-3">
                                            <input name="quote_Phone" type="text" id="quote_Phone" placeholder="Phone number *">
                                        </div>
                                        <div class="contact-inner contact-inner-3">
                                            <input name="quote_Timeline" type="text" id="quote_Timeline" placeholder="Timeline *">
                                        </div>
                                        <div class="contact-inner contact-inner-3">
                                            <input name="quote_Budget" type="text" id="quote_Budget" placeholder="Budget *">
                                        </div>
                                    </div>
                                    <div class="contact-inner contact-message">
                                        <textarea name="quote_Describe" id="quote_Describe" placeholder="Describe your project details here..."></textarea>
                                    </div>
                                    @*<div>
                                            <label>SRS / Requirement Document : </label>
                                            <input name="con_name" type="file" id="con_name" placeholder="Budget *">
                                        </div>*@
                                    <div class="submit-btn mt-20">
                                        <button class="ht-btn ht-btn-md" type="submit" name="submit" id="GetQuote_button">Get a Quote</button>
                                        <button class="ht-btn ht-btn-md" type="button" name="button" id="GetQuote_loading" disabled style="display:none;">
                                            <span>
                                                <i class="info-icon fa fa-spinner fa-spin"></i>
                                            </span>
                                            Get a Quote
                                        </button>
                                    </div>
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 p-2">
                                <div class="image-box-wrap custome-card">
                                    <div class="content">
                                        <h6 class="heading mb-3">
                                            Sales Department
                                        </h6>
                                        <p>
                                            Learn how business analytics can help in collecting your requirements.
                                        </p>
                                        <a href="#">
                                            info@daintreesolutions.us
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12s p-2">
                                <div class="image-box-wrap custome-card">
                                    <div class="content">
                                        <h6 class="heading mb-3">
                                            Schedule Meeting?
                                        </h6>
                                        <p>
                                            Not clear with your development model, lets connect via call, please drop an email.
                                        </p>
                                        <a href="#">
                                            info@daintreesolutions.us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 p-2">
                                <div class="image-box-wrap custome-card">
                                    <div class="content">
                                        <h6 class="heading mb-3">
                                            Help and Support
                                        </h6>
                                        <p>
                                            Get help with your account or technical questions.
                                        </p>
                                        <a href="#">
                                            <button class="ht-btn ht-btn-md" type="submit" name="submit" id="send_button">Start Whats app chat</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  Conact us Section End  ====================-->
        
        <!--========== Call to Action Area Start ============-->
        <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_two">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cta-content md-text-center">
                            <h3 class="heading">We run all kinds of IT services that vow your <span class="text-color-primary"> success</span></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="cta-button-group--two text-center">
                            <a href="#" class="btn btn--white btn-one"><span class="btn-icon me-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                            <a href="#" class="btn btn--secondary btn-two "><span class="btn-icon me-2"><i class="far fa-info-circle"></i></span> Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Call to Action Area End ============-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script>

        //Contact us form jquery validation
            $("#QuoteForm").validate({
                rules: {
                    quote_fullname: {
                        required: true
                    },
                    quote_Email: {
                        required: true
                    },
                    quote_Phone: {
                        required: true
                    },
                    quote_Timeline: {
                        required: true
                    },
                    quote_Budget: {
                        required: true
                    },
                    quote_Describe: {
                        required: true
                    },
                },
                messages: {
                    quote_fullname: "Name is required",
                    quote_Email: "Email is required",
                    quote_Phone: "Phone is required",
                    quote_Timeline: "Timeline is required",
                    quote_Budget: "Budget is required",
                    quote_Describe: "Describe is required",
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    Quote();
                }

            });

        //ContactUs form data ajax call
        function Quote() {

            $('#GetQuote_button').hide();
            $('#GetQuote_loading').show();

           $.ajax({
            type: 'POST',
            url: "@Url.Action("GetaQuoteSend", "Quote")",
            dataType: 'json',
            data: ({
                quote_fullname: $("#quote_fullname").val(),
                quote_Email: $("#quote_Email").val(),
                quote_Phone: $("#quote_Phone").val(),
                quote_Timeline: $("#quote_Timeline").val(),
                quote_Budget: $("#quote_Budget").val(),
                quote_Describe: $("#quote_Describe").val(),
            }),
            success: function (response) {
                debugger;
                if (response == 200) {
                    alert('Request Submitted Succssfully');
                    window.location.reload();
                } else {
                    alert('Data Not Inserted');
                }
                $('#send_button').show();
                $('#sending_button').hide();
            },
            error: function (response) {
                console.log(response);
                $('#send_button').show();
                $('#sending_button').hide();
            }
        });
        }

    </script>