﻿@{
    ViewBag.Title = "About";
}



<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <div class="about-banner-wrap banner-space about-us-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto">
                        <div class="about-banner-content text-center">
                            <h1 class="mb-15 text-white">About Daintree</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_60">
                            <h6 class="section-sub-title mb-20">Our company</h6>
                            <h2 class="heading">Transforming Ideas Into <span class="text-color-primary"> Time-Sensitive    <br> Digital Solutions!</span></h2>
                            <p>Working on cutting-edge programming possibilities based on evolving ideas of tech excellence. Creating solutions that let organizations to lead through innovations!</p>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="cybersecurity-about-box">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-1">
                            <div class="modern-number-01 number-two">
                                <h2 class="heading  me-5"><span class="mark-text">15</span>Years’ Experience in IT</h2>
                                <h5 class="heading mt-30">We’ve been triumphing all these <span class="text-color-primary"> 15 years. </span> Sacrifices are made up with success. </h5>
                            </div>
                        </div>

                        <div class="col-lg-5 ms-auto">
                            <div class="faq-wrapper">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    What are the advantages of Daintree? <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p style="text-align: justify;">Started 15 years ago, we are one of the leading <a href="https://daintreesolutions.us/nearshore-development-company">nearshore development company in USA</a>. Our hallmark is Reliability and we offer our development services to clients around the world. We have gathered a rich experience through hundreds of completed projects across domains, technologies, and countries. Our team of skilled experts are well-versed with the latest technologies and are equipped with fanatical commitment and passion towards work. Our hallmark reflects in all the development processes we follow along with the results we deliver. Our company is committed to our clients delight and we attain this via exceptional services. </p>
                                                <p style="text-align: justify;">We are known to offer value with technology disruption. We are a well-known domain player who is acknowledge worldwide for empowering organizations using tech-lead innovations. With our inventive approach, we create authoritative solutions. Our team of experts work towards the goal of creating prominence via superior technological capacity.</p>
                                                <p>We are a dedicated arsenal of tech-savvy developers and enthusiasts who bring the ideas of the finest IT solutions to the table for unmatched results. Our aim is to become a catalyst for our client’s growth because we think that – <b>“We will grow, when you will grow.”</b></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Our Promise  <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p style="text-align: justify;">We have only one focus. So, we promise you to build the highest functioning solutions to attain your business requirements.  </p>
                                                <ul>
                                                    <li><b>Results Driven</b> </li>
                                                    <p style="text-align: justify;">We entirely focus on delivering the best business performance for all our clients. We don’t want to win awards for our creativity. </p>
                                                    <li><b>No Nonsense</b></li>
                                                    <p style="text-align: justify;">You won’t experience any needless time wasting or waffles. It is only about the fastest way to our clients’ success.</p>
                                                    <li><b>Cost Challenger</b></li>
                                                    <p style="text-align: justify;">We think that the prices of our competitors’. Are very high and you should be charged fairly.</p>
                                                    <li><b>Mastery</b></li>
                                                    <p style="text-align: justify;">We know and understand our stuff. We invest in our team continuously and are always ready to learn the next new, big thing. Regardless of your ambition.</p>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Our Reputation  <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>Our company has been in the industry for a very long time. We put lots of value on our notability and reputation. Knowledge of various entrepreneurial concepts and industries are always at our business’s core. The trust our clients put in us is what we want to earn continuously, every day. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Our Vision <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p style="text-align: justify;">To becomes the most trusted nearshore development company around the world.  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Our Mission   <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p style="text-align: justify;">We strive hard to become a catalyst in attaining exceptional growth for our team and our clients. We guarantee this through constant evolution, outstanding services, and fantastic commitment.   </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Our Values   <span>
                                                        <i class="fas fa-chevron-down"></i>
                                                        <i class="fas fa-chevron-up"></i>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <ul>
                                                    <li>Passionate Individually. Brilliant Collectively.</li>
                                                    <li>We value relations. So, business is just a by-product.</li>
                                                    <li>Going Beyond.</li>
                                                    <li>Think Smart. Work Hard.</li>
                                                    <li>Reliability and integrity is behind everything we do.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--===========  feature-large-images-wrapper  End =============-->
        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper bg-gray section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_30">
                            <h6 class="section-sub-title mb-20">Hire us, why not?</h6>
                            <h2 class="heading">Why People Like Working  <span class="text-color-primary">  With Us?</span></h2>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row row--35">
                            <div class="col-lg-4 col-md-6 mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/ha.jpg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Highly Agile</h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-30 text-center">
                                            <p>Our capability to be agile assists us to continuously address the changing needs of our clients. </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/roi.jpeg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Focus on ROI  </h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-30 text-center">
                                            <p>Our focus is on ROI of our digital solutions is for our clients and not on completing the assigned tasks. </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/ct.jpg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Commitment and Passion </h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-40 text-center">
                                            <p>Our commitment and passion to go the additional mile helps clients to attain success in their projects. </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/gt.jpg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Great Transparency </h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-40 text-center">
                                            <p>With open processes and communications, we provide transparency to all our clients.  </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/tw.jpg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Collaboration, Teamwork, and Innovation </h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-40 text-center">
                                            <p>We bring innovations to drive digital solutions with collaboration and teamwork.  </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>

                            <div class="col-lg-4 col-md-6  mt-30">
                                <!-- Box large image warap Start -->
                                <a href="#" class="box-large-image__wrap wow move-up">
                                    <div class="box-large-image__box">
                                        <div class="box-large-image__midea">
                                            <div class="images-midea">
                                                <img src="~/Content/assets/images/box-image/dt.jpg" class="img-fluid" alt="">

                                                <div class="heading-wrap">
                                                    <h5 class="heading">Delivery Quality  </h5>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="box-large-image__content mt-40 text-center">
                                            <p>We promise our delivery quality by guarantying that your digital platforms will work in the way you intended them to.  </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- Box large image warap End -->
                            </div>


                        </div>

                        <div class="section-under-heading text-center section-space--mt_40">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div>

                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-large-images-wrapper  End =============-->


        <div class="gallery-section section-space--pt_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-title-wrap text-left">
                            <h3 class="section-title mb-15 wow move-up">Our Key Differentiators  <span class="text-color-primary"> and  </span> Experience Include </h3>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--===========  feature-icon-wrapper  Start =============-->
        <div class="feature-icon-wrapper section-space--pb_80 section-space--pt_80 border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="feature-list__three">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fal fa-life-ring"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Quality Assurance System
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">With the worldwide scenarios transforming quickly, our company has evolved as well by adopting the latest frameworks, methodologies, and tools that are viable commercially. CLIENT SATISFACTION is guaranteed with us because of our passion to follow modern and emerging technology trends and innovations, keeping the business of our clients ahead and maximizing their ROI. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fal fa-lock-alt"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Accurate Testing Processes
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        A record of delivering the most comprehensive, high quality, highly scalable, and high-performance solutions and applications of any complexity for different industries.
                                                        Applying industry’s most advanced frameworks and best practices, we can create comprehensive IT solutions that accelerate automation of the business processes of our clients.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fal fa-globe"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Smart API Generation
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">Post-deployment efforts that include a mix of offshore and onsite resources that undertake support and maintenance and upgradation activities to make sure that the application has zero down-time and high availability always. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="grid-item animate">
                                        <div class="ht-box-icon style-03">
                                            <div class="icon-box-wrap">
                                                <div class="content-header">
                                                    <div class="icon">
                                                        <i class="fal fa-medal"></i>
                                                    </div>
                                                    <h5 class="heading">
                                                        Infrastructure Integration Technology
                                                    </h5>
                                                </div>
                                                <div class="content">
                                                    <div class="text">
                                                        We are one of the leading IT Services company well-known for working with its hallmark of “Reliability” and offering nearshore development services.

                                                        Our various service models are the result of our many years of learnings and a very rich experience collected through various projects across countries, domains, and technologies.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-icon-wrapper  End =============-->
        <!--=========== fun fact Wrapper Start ==========-->
        <div class="fun-fact-wrapper bg-theme-default section-space--pb_30 section-space--pt_60">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow move-up">
                        <div class="fun-fact--two text-center">
                            <div class="fun-fact__count counter">120</div>
                            <h6 class="fun-fact__text">Happy clients</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow move-up">
                        <div class="fun-fact--two text-center">
                            <div class="fun-fact__count counter">32</div>
                            <h6 class="fun-fact__text">Finished projects</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow move-up">
                        <div class="fun-fact--two text-center">
                            <div class="fun-fact__count counter">73</div>
                            <h6 class="fun-fact__text">Skilled Experts</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow move-up">
                        <div class="fun-fact--two text-center">
                            <div class="fun-fact__count counter">318</div>
                            <h6 class="fun-fact__text">Media Posts</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== fun fact Wrapper End ==========-->
        <!--============ Contact Us Area Start =================-->
        <div class="contact-us-area appointment-contact-bg section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-title section-space--mb_50">
                            <h3 class="mb-20">Need a hand?</h3>
                            <p class="sub-title">Reach out to the world’s most reliable IT services.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-form-wrap">
                            <!-- <form id="contact-form" action=""> -->
                            <form class="contact-form" id="contact-form" action="assets/php/services-mail.php" method="post">
                                <div class="contact-form__two">
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input name="con_name" type="text" placeholder="Name *">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="con_email" type="email" placeholder="Email *">
                                        </div>
                                    </div>
                                    <div class="contact-select">
                                        <div class="form-item contact-inner">
                                            <span class="inquiry">
                                                <select id="Visiting" name="Visiting">
                                                    <option disabled selected>Select Department to email</option>
                                                    <option value="Your inquiry about">Your inquiry about</option>
                                                    <option value="General Information Request">General Information Request</option>
                                                    <option value="Partner Relations">Partner Relations</option>
                                                    <option value="Careers">Careers</option>
                                                    <option value="Software Licencing">Software Licencing</option>
                                                </select>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="contact-inner contact-message">
                                        <textarea name="con_message" placeholder="Please describe what you need."></textarea>
                                    </div>
                                    <div class="comment-submit-btn">
                                        <button class="ht-btn ht-btn-md" type="submit">Get a free consultation</button>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 ms-auto">
                        <div class="contact-info-three text-left">
                            <h6 class="heading font-weight--reguler">Reach out now!</h6>
                            <h3 class="call-us"><a href="tel:123 567990">+1 346 278 2500 </a></h3>
                            <div class="text">Start the collaboration with us while figuring out the best solution based on your needs.</div>
                            <div class="location-button mt-20">
                                <a href="#" class="location-text-button"><span class="button-icon"></span> <span class="button-text">View on Google map</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--============ Contact Us Area End =================-->
